#warning {
    color: #d0021b;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    margin: 4px 0 5px 0;
}

#warning-sign {
    color: #d0021b;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    margin: 15px 0 15px 0;
}

.button.purple {
    margin-top: 0;
    margin-bottom: 5px;
}

#login-purple {
    margin-top: 14px;
}

#black {
    margin-top: 6px;
}

.horizontal {
    margin-top: 27px; 
}

#horizontal {
    margin-top: 28px;
}

