@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #1d1d1d;
    letter-spacing: 0;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #624fe0;
    font-size: 16px;
}

.content {
    margin: 0 auto;
    max-width: 1150px;
    padding: 0 20px;
}

#header {
    background-color: #624fe0;
    padding: 36px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
    #header .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav {
        display: flex;
        justify-content: space-between;
        width: 161px;
    }
        .nav a {
            color: #fff;
            font-size: 18px;
        }
        .nav a:hover {
            opacity: 0.6;
        }

    .logo a {
        display: inline-block;
    }

#main {
    margin-top: 112px;
    width: 100%
}
    #main .content {
        padding-top: 24px;    
    }
    
    .section-jumbotron {
        background-color: #624fe0;
        height: 542px;
    }
        h1 {
            font-weight: 600;
            font-size: 48px;
            color: #fff;
            text-align: center;
        }
            h1 span {
                color: #c8bcff;
            }
        .manage-notes {
            display: flex;
            margin-top: 63px;
            width: 100%;
        }
            .smart-notes {
                max-width: 50%;
            }
                .smart-notes h3 {
                    color: #fff;
                    font-size: 30px;
                    margin-left: 33px;
                }
                .smart-notes ul {
                    color: #fff;
                    list-style-type: none;
                }
                    .smart-notes li {
                        line-height: 26px;
                        margin-left: -7px;
                        font-size: 18px;
                    }
                        .smart-notes li span {
                            width: 15px;
                            height: 15px;
                            background-color: white;
                            display: inline-block;
                            margin-left: -31px;
                            border-radius: 20%;
                            margin-right: 13px;
                        }
                .smart-notes li:nth-child(2) {
                    margin-bottom: 6px;
                }
                .smart-notes li:nth-child(3) {
                    margin-bottom: 6px;
                }
                .smart-notes a {
                    background-color: #fff;
                    font-size: 22px;
                    font-weight: 500;
                    padding: 16px 70px;
                    border-radius: 3%;
                    margin-left: 33px;
                    position: relative;
                    top: 70px;
                }
            .mobile-friendly {
                position: relative;
            }
                .mobile-friendly img {
                    margin-left: 116px;
                    position: absolute;
                    top: -10px; 
                }
    .section-customers h2 {
        margin-top: 130px;
        text-align: center;
        color: #1d1d1d;
        font-size: 28px;
    } 
        .customers-icons {
            display: flex; 
            justify-content: space-between;
            width: 100%;
            margin-top: 68px;
        }
            .customers-icons img {
                margin-right: 145px;
            }       
            .customers-icons img:nth-child(1) {
                width: 115px;
                height: 39px;
            }  
            .customers-icons img:nth-child(2) {
                width: 133px;
                height: 42px;
            } 
            .customers-icons img:nth-child(3) {
                width: 84px;
                height: 30px;
                margin-top: 6px;
            }
            .customers-icons img:nth-child(4) {
                width: 117px;
                height: 17px;
                margin-top: 12px;
            }
            .customers-icons img:nth-child(5) {
                width: 80px;
                height: 17px;
                margin-top: 12px;
            }
    .ideas {
        width: 100%;
        margin-top: 131px;
    }
        .ideas .capture-ideas {
            max-width: 63%;
            line-height: 30px;
            font-size: 18px;
            margin-top: 176px;
        } 
            .ideas .capture-ideas h2 {
                margin-bottom: -5px;
            }
            .ideas .capture-ideas p:nth-child(3) {
                margin-top: 30px;
            }
            .ideas .capture-ideas a {
                line-height: 30px;
                font-size: 18px;
                font-weight: 700;
            }
        .ideas .notes-ideas {
            margin-top: 35px;
            max-width: 45px;
            position: relative;
        }
            .ideas .notes-ideas img {
                position: absolute;
                bottom: -75px;
                left: 710px;
                opacity: .9;
            }
            .ideas .notes-ideas img:nth-child(1) {
                z-index: 3;
            }
            .ideas .notes-ideas img:nth-child(2) {
                transform: rotate(-10deg);
                z-index: 2;
            }
            .ideas .notes-ideas img:nth-child(3) {
                transform: rotate(-20deg);
                z-index: 1;
            }
hr {
    margin-top: 217px;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #dad6e2;
}  

.footer {

}
    .footer-flex {
        display: flex;
        justify-content: space-between;
    }
        .footer-flex img {
        margin: 30px 0;
        }
        .footer-flex .footer-copyright p {
            line-height: 23px;
            font-size: 16px;
            margin-right: 6px;
            margin-top: 24px;
        }
        .footer-flex .footer-copyright p span {
            color: #9d9d9d;
        }
@media (max-width: 1200px) { 
    .section-jumbotron {
        height: 1046px;
    }
        .manage-notes {
            flex-direction: column;
        }
            .smart-notes {
                max-width: 100%;

            }
            .mobile-friendly img {
                top: 150px;
                left: 260px; 
            }
        .customers-icons {
            display: flex; 
            justify-content: space-between;
            flex-direction: column;
            width: 100%;
            margin-top: 68px;
        }
            .customers-icons img {
                margin: 0 auto 25px auto;
            }  
        .ideas .capture-ideas {
            max-width: 100%;
            text-align: center;
        } 
            .ideas .notes-ideas img {
                position: absolute;
                bottom: 0px;
                left: 282px;;
                top: 0px;
            }

   hr {
       margin-top: 574px;
   }
   .footer-flex {
       flex-direction: column;
   }
        .footer-flex .footer-copyright p {
            text-align: center;    
        }
}

@media (max-width: 575.98px) {
    .section-jumbotron {
        height: 1046px;
    }
        .manage-notes {
            flex-direction: column;
        }
            .smart-notes {
                max-width: 100%;

            }
            .mobile-friendly img {
                top: 150px;
                left: 0px; 
            }
        .ideas .notes-ideas img {
            position: absolute;
            bottom: 0px;
            left: 2px;;
            top: 0px;
        }
        .customers-icons {
            display: flex; 
            justify-content: space-between;
            flex-direction: column;
            width: 100%;
            margin-top: 68px;
        }
}